@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');

@import url(assets/fonts/Ubuntu-Bold.ttf);
@import url(assets/fonts/Ubuntu-Medium.ttf);
@import url(assets/fonts/Ubuntu-Regular.ttf);

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

body{
    background-color: hsl(217, 100%, 97%);
    font-family: Ubuntu;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

body, html{
  height: 100%;
}
  
.form2, .form3, .form4, .form5, .thanks{
    display: none;
}

.main{
    background: white;
    border-radius: 10px;
}

.sidebar{
    background: url('assets/images/bg-sidebar-desktop.svg'), hsl(243, 100%, 62%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -40px;
    width: 250px;
    margin: 15px;
    border-radius: 10px;
    color: white;
}

li > span{
  font-weight: 400;
  color: hsl(228, 100%, 84%);
}

ul{
  list-style: none;
}

li{
  margin: 15px;
}

li::before{
  content: "";
}

li > p{
  margin: 0px;
  font-weight: 400;
}

.main{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  width: 800px;
  height: 500px;
}

